*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    --background-color : #002b36;
    background-color: var(--background-color);
}

.ascii-art {
    font-family: monospace;
    white-space: pre;
    font-size: 1rem;
    color: white;
    opacity: .8;
}

.ascii-art .title {
    color: rgb(203, 236, 203);
    font-family: monospace;
    font-size: 12px;
    opacity: unset !important;
    user-select: none;
}